<template>
  <div class="mainleaf">
    <table width="100%">
      <thead>
        <tr class="header">
          <th colspan="5"></th>
          <th colspan="3">Partido</th>
          <th colspan="9">Goles (Mas/Menos alternativos)</th>
          <th colspan="2">Doble Oportunidad</th>
          <th colspan="2">Ambos Marcan</th>
          <th colspan="2">Partes con mas goles</th>
          <th colspan="2">Handicap</th>
        </tr>
      </thead>
      <tbody>
        <tr class="section-a">
          <td colspan="3">Información</td>
          <td colspan="2">Equipos</td>
          <td v-for="(i, index) in 20" :key="index">{{ i }}</td>
        </tr>
        <tr class="section-b">
          <td>Código</td>
          <td>Liga</td>
          <td>Hora</td>
          <td v-for="(team, index) in teams" :key="index">{{ team }}</td>
          <td v-for="(description, index) in descriptions" :key="index">
            {{ description }}
          </td>
        </tr>
        <tr
          class="section-scores"
          v-for="(score, index) in scores"
          :key="index"
        >
          <td v-for="(detail, index) in score.details" :key="index">
            {{ detail }}
          </td>
          <td v-for="(odd, index) in score.odds" :key="index">{{ odd }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  name: "mainleaf",
  data() {
    return {
      teams: ["LOCAL", "VISITA"],
      descriptions: [
        "1",
        "x",
        "2",
        "-1.5",
        "-1.5",
        "-1.5",
        "-1.5",
        "-1.5",
        "-1.5",
        "-1.5",
        "-1.5",
        "-1.5",
        "1/2",
        "1/2",
        "SI",
        "NO",
        "1era",
        "2da",
        "-1.5",
        "-1.5",
      ],
      scores: [
        {
          details: [
            "125120",
            "Eliminatoria Eliminatoria",
            "3:45p.m.",
            "Bolivia",
            "Argentina",
          ],
          odds: [
            "2.15",
            "2.15",
            "2.15",
            "2.15",
            "2.15",
            "2.15",
            "2.15",
            "2.15",
            "2.15",
            "2.15",
            "2.15",
            "2.15",
            "2.15",
            "2.15",
            "2.15",
            "2.15",
            "2.15",
            "2.15",
            "2.15",
            "2.15",
          ],
        },
        {
          details: [
            "125120",
            "Eliminatoria",
            "3:45p.m.",
            "Bolivia Bolivia",
            "Argentina Argentina",
          ],
          odds: [
            "2.15",
            "2.15",
            "2.15",
            "2.15",
            "2.15",
            "2.15",
            "2.15",
            "2.15",
            "2.15",
            "2.15",
            "2.15",
            "2.15",
            "2.15",
            "2.15",
            "2.15",
            "2.15",
            "2.15",
            "2.15",
            "2.15",
            "2.15",
          ],
        },
        {
          details: [
            "125120",
            "Eliminatoria",
            "3:45p.m.",
            "Bolivia",
            "Argentina",
          ],
          odds: [
            "2.15",
            "2.15",
            "2.15",
            "2.15",
            "2.15",
            "2.15",
            "2.15",
            "2.15",
            "2.15",
            "2.15",
            "2.15",
            "2.15",
            "2.15",
            "2.15",
            "2.15",
            "2.15",
            "2.15",
            "2.15",
            "2.15",
            "2.15",
          ],
        },
        {
          details: [
            "125120",
            "Eliminatoria",
            "3:45p.m.",
            "Bolivia",
            "Argentina",
          ],
          odds: [
            "2.15",
            "2.15",
            "2.15",
            "2.15",
            "2.15",
            "2.15",
            "2.15",
            "2.15",
            "2.15",
            "2.15",
            "2.15",
            "2.15",
            "2.15",
            "2.15",
            "2.15",
            "2.15",
            "2.15",
            "2.15",
            "2.15",
            "2.15",
          ],
        },
        {
          details: [
            "125120",
            "Eliminatoria",
            "3:45p.m.",
            "Bolivia",
            "Argentina",
          ],
          odds: [
            "2.15",
            "2.15",
            "2.15",
            "2.15",
            "2.15",
            "2.15",
            "2.15",
            "2.15",
            "2.15",
            "2.15",
            "2.15",
            "2.15",
            "2.15",
            "2.15",
            "2.15",
            "2.15",
            "2.15",
            "2.15",
            "2.15",
            "2.15",
          ],
        },
        {
          details: [
            "125120",
            "Eliminatoria",
            "3:45p.m.",
            "Bolivia",
            "Argentina",
          ],
          odds: [
            "2.15",
            "2.15",
            "2.15",
            "2.15",
            "2.15",
            "2.15",
            "2.15",
            "2.15",
            "2.15",
            "2.15",
            "2.15",
            "2.15",
            "2.15",
            "2.15",
            "2.15",
            "2.15",
            "2.15",
            "2.15",
            "2.15",
            "2.15",
          ],
        },
        {
          details: [
            "125120",
            "Eliminatoria",
            "3:45p.m.",
            "Bolivia",
            "Argentina",
          ],
          odds: [
            "2.15",
            "2.15",
            "2.15",
            "2.15",
            "2.15",
            "2.15",
            "2.15",
            "2.15",
            "2.15",
            "2.15",
            "2.15",
            "2.15",
            "2.15",
            "2.15",
            "2.15",
            "2.15",
            "2.15",
            "2.15",
            "2.15",
            "2.15",
          ],
        },
      ],
    };
  },
  props: {
    msg: String,
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
@font-face {
  font-family: "Bahnschrift";
  src: url("/fonts/BAHNSCHRIFT.TTF");
}
.mainleaf {
  width: 99%;
  max-width: 95%;
  margin: auto;
  font-family: "Bahnschrift", sans-serif;
}
.mainleaf tr,
.mainleaf tr td {
  border-bottom: aqua;
  border: 1px solid #999999;
}
.mainleaf .header {
  height: 40px;
  text-align: center;
}
.mainleaf .header th:nth-child(2) {
  background-color: rgb(168, 214, 255, 0.5);
  color: #000000;
  font-weight: 700;
  font-size: 14px;
}
.mainleaf .header th:nth-child(3) {
  background-color: aquamarine;
  color: #000000;
  font-weight: 700;
  font-size: 14px;
}
.mainleaf .header th:nth-child(4) {
  background-color: rgb(208, 245, 135, 0.5);
  color: #000000;
  font-weight: 700;
  font-size: 14px;
}
.mainleaf .section-scores td:nth-child(2),
.mainleaf .section-scores td:nth-child(4),
.mainleaf .section-scores td:nth-child(5) {
  width: 100px !important;
  min-width: 100px;
  max-width: 100px;
  text-align: center;
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.mainleaf .section-scores td:nth-child(18),
.mainleaf .section-scores td:nth-child(19) {
  background-color: rgb(208, 245, 135, 0.1);
  color: #000000;
}
.mainleaf .header th:nth-child(5) {
  background-color: rgb(179, 199, 237, 0.5);
  color: #000000;
  font-weight: 700;
  font-size: 14px;
}
.mainleaf .section-scores td:nth-child(20),
.mainleaf .section-scores td:nth-child(21) {
  background-color: rgb(179, 199, 237, 0.1) !important;
  color: #000000;
}
.mainleaf .header th:nth-child(6) {
  background-color: rgb(255, 205, 205, 0.5);
  color: #000000;
  font-weight: 700;
  font-size: 14px;
}
.mainleaf .section-scores td:nth-child(22),
.mainleaf .section-scores td:nth-child(23) {
  background-color: rgb(255, 205, 205, 0.1) !important;
  color: #000000;
}
.mainleaf .header th:nth-child(7) {
  background-color: rgb(222, 191, 250, 0.5);
  color: #000000;
  font-weight: 700;
  font-size: 14px;
}
.mainleaf .section-scores td:nth-child(24),
.mainleaf .section-scores td:nth-child(25) {
  background-color: rgb(237, 216, 255, 0.1) !important;
  color: #000000;
}
/* ===========================================
               SECTION-A
=========================================== */

.mainleaf .section-a td:nth-child(-n + 3) {
  text-align: center;
  font-size: 14px;
  width: 65px;
  max-width: 65px;
}
.mainleaf .section-a td:nth-child(n + 3) {
  width: 65px;
  max-width: 65px;
  text-align: center;
  font-size: 14px;
}
.mainleaf .section-a td:nth-child(n + 2) {
  background-color: #000;
  color: #ffffff;
}

/* ===========================================
               SECTION-B
=========================================== */

.mainleaf .section-b td:nth-child(-n + 3) {
  width: 65px;
  max-width: 65px;
  text-align: center;
  font-size: 14px;
}

.mainleaf .section-b td:nth-child(n + 3) {
  width: 65px;
  max-width: 65px;
  text-align: center;
  font-size: 14px;
}
.mainleaf .section-b td:nth-child(n + 4) {
  background-color: #000;
  color: #ffffff;
}
/* ===========================================
               SECTION-SCORES
=========================================== */

.mainleaf .section-scores td:nth-child(-n + 3) {
  width: 65px;
  max-width: 75px;
  text-align: center;
  font-size: 11px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.mainleaf .section-scores td:nth-child(n + 6) {
  width: 65px;
  max-width: 65px;
  text-align: center;
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.mainleaf .section-scores td:nth-child(n + 6) {
  border-bottom: 5px solid turquoise;
  font-size: 16px;
}
</style>
