<template>
  <div id="app">
    <MainLeaf msg="Welcome to Your Vue-logros.js App" />
  </div>
</template>

<script>
import MainLeaf from "./components/MainLeaf.vue";

export default {
  name: "App",
  components: {
    MainLeaf,
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
